
<!DOCTYPE html>
<html>

<head>
    <title>kubastuff - mining sim game</title>
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
        <div class="columns has-text-centered is-centered">
            <!-- col 1 -->
            <div class="column is-4">
                <h2 class="title">Main</h2>
                <table class="table is-fullwidth is-striped is-narrow">
                    <tbody id="main-view-container" class="is-size-7">
                        <tr>
                            <th>Simulation Speed:</th>
                            <td>
                                <div class="control">
                                    <input class="input is-small has-text-centered is-size-7" type="range" id="sim-speed" min="0" max="100" step="0.1" value="1">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="container mb-6"  title="This is some extra information">
                    <h2 class="title is-5 is-marginless mb-3">News</h2>
                    <div class="is-size-7" id="news-container">
                    </div>
                </div>
            </div>
            <!-- col 2 -->
            <div class="column is-4">
                <div class="columns is-centered">
                    <div class="column is-narrow">
                        <h2 class="title">Shop</h2>
                        <table id="shop-control" class="table is-fullwidth">

                            <thead>
                                
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="parts-list-container" class="container is-fullwidth mb-6">
                    <table id="parts-table" class="table is-striped is-fullwidth">
                        <thead class="has-text-left is-size-7">
                            <tr>Mining devices</tr>
                            <tr>
                                <th>Name</th>
                                <th>Power (W)</th>
                                <th>Profitability</th>
                                <th>Price ($)</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody class="has-text-centered is-size-7">
                            <!-- This is where we'll dynamically add rows for each GPU in the parts list -->
                        </tbody>
                    </table>
                </div>
                <div id="power-elements-list-container" class="container is-fullwidth mb-6">
                    <table id="power-elements-table" class="table is-striped is-fullwidth">
                        <thead class="has-text-left is-size-7">
                            <tr>Generators</tr>
                            <tr>
                                <th>Name</th>
                                <th>Power (W)</th>
                                <th>Size</th>
                                <th>Price ($)</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody class="has-text-centered is-size-7">
                            <!-- This is where we'll dynamically add rows for each GPU in the parts list -->
                        </tbody>
                    </table>
                </div>
                <div id="building-elements-list-container" class="container is-fullwidth">
                    <table id="building-elements-table" class="table is-striped is-fullwidth">
                        <thead class="has-text-left is-size-7">
                            <tr>Buildings</tr>
                            <tr>
                                <th>Name</th>
                                <th>Capacity</th>
                                <th>Price ($)</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody class="has-text-centered is-size-7">
                            <!-- This is where we'll dynamically add rows for each GPU in the parts list -->
                        </tbody>
                    </table>
                </div>
                <div id="game-elements" class="container is-fullwidth">
                </div>
            </div>
            <!-- col 3 -->
            <div class="column is-4">
                <div class="columns is-centered">
                    <div class="column is-fullwidth">
                        <h2 class="title mt-2">BTC/USD</h2>
                        <div class="chart-container" style="display: flex; justify-content: center;">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-narrow">
                        <table id="crypto-market" class="table is-fullwidth">
                            <thead>

                            </thead>
                            <tbody>
    
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container">
                    <h2 class="title is-5 is-marginless">High Scores</h2>
                    <div class="box">
                        <div class="table-container">
                            <table class="table is-striped is-hoverable is-fullwidth has-text-left">
                         <!--        <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody class="is-size-7">
                                    {% for score in scores %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ score.username }}</td>
                                        <td>{{ score.score }} $</td>
                                    </tr>
                                    {% endfor %}
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>localStorage.setItem("username", "{{ username }}");</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='/js/main.js') }}"></script>
</body>

</html>
